.mdl-layout__header {
  background-color: #3b8dbd;
  min-height: 40px;
  z-index: 6;
  .mdl-layout__header-row {
    height: 40px;
  }
  .mdl-layout__drawer-button {
    display: none;
    margin: 0;
    height: 40px;
    line-height: 45px;
  }
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 0;
  width: 100%;
  .mdl-layout__header-row {
    padding: 0 15px 0 7px;
    img {
      margin-bottom: -10px;
    }
    .logo {
      float: right;
      margin-left: 7px;
      font-family: Titillium Web, "Helvetica", sans-serif;
      font-size: 30px;
      color: white;
    }
    .beta {

    }
  }
}
.mdl-layout__drawer {
  border: none;
  margin-top: 40px;
  height: calc(100% - 40px);
  background-color: white;
  .mdl-navigation .mdl-navigation__link {
    font-family: Titillium Web, "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: default;
    padding: 6px 0 6px 15px;
    &.active {
      color: #3b8dbd; //#5b90bf
      font-weight: 600;
      border-left: 4px solid #3b8dbd;
      padding-left: 11px;
    }
    &:hover {
      border-left: 4px solid #3b8dbd;
      padding-left: 11px;
      color: #3b8dbd;
      background-color: #eee;
      .badge--no-background {
        background-color: #eee;
      }
    }
  }
}

.header-feed-title {
  font-family: Titillium Web, "Helvetica", sans-serif;
  font-size: 20px;
  margin-right: 5px;
}

.drawer-header {
  border-bottom: 1px solid #edecec; //#ccc;
  margin: 0 7px;
  overflow: hidden; 
  .profile-image {
    float: left;
    width: 37px;
    height: 37px;
    margin: 10px 7px 7px 5px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.14);
    box-sizing: content-box;
  }
  .profile-name {
    float: left;
    font-family: Titillium Web, "Helvetica", sans-serif;
    font-size: 18px;
    margin: 22px 0 0 2px;
    color: #757575;
  }
  .profile-menu {
    float: right;
    margin: 16px 0 0 0;
    color: #757575;
  }
} // .drawer-header

.mdl-layout__drawer .mdl-navigation {
  padding-top: 5px;

  .mdl-navigation-title {
    text-overflow: ellipsis;
    width: inherit;
    overflow: hidden;
    width: 215px;
    white-space: nowrap;
    &.with-badge {
      width: 190px;
    }
  }
}


//-- MENU
.mdl-menu__container {
  left: auto;
  right: 5px;
  
  .mdl-menu__outline {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  ul.mdl-menu {
    padding: 4px 0;
    li.mdl-menu__item {
      color: #4C4C4C;
      height: 32px;
      line-height: 32px;
      padding: 0 20px 0 20px;
      &:focus {
        background-color: inherit;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
      }
      .material-icons {
        float: left;
        font-size: 20px;
        margin: 6px 10px 0 -15px;
      }
      // .mdl-menu-item-text {
      //   padding-left: 5px;
      //   padding-right: 10px;
      // }
      &:is([disabled=true]) {
        color: red;
      }
    }
    .mdl-menu-separator {
      border-bottom: 1px solid #edecec;
      margin: 1px 7px 1px 7px;
    }
  }

} // .mdl-menu__container

  // .mdl-menu__item:

  //   .mdl-menu__container,
  //   .mdl-menu__outline,
  //   .mdl-menu {
  //     left: auto;
  //     right: 4px;
  //   }






//--

@media screen and (max-width: 1024px) {

  .mdl-layout__header {
    .mdl-layout__drawer-button {
      display: block;
    }
    .mdl-layout__header-row {
      padding: 0 13px 0 50px; //padding: 0 3px 0 72px;
      .mdl-layout-title {
        display: none;
      }
    }
  }

}
