 <div class="card">
    <div class="card-header">{{mdl-textfield label="Feed URL" floating=true}}
    <h2>{{feed.title}}
    <small>{{feed.feedUrl}}</small></h2>
    </div>
    {{#mdl-button  accent=true raised=true ripple=true }}Button{{/mdl-button}}
  </div>
