<div class="centered error-page">
  <div id="logo_reverse"><i class="fa fa-rss"></i>reader</div>

  <div id="error_form">
    <div id="error_form_title"><span>{{errorCode}}</span></div>
      {{errorMessage}}
  </div>

</div>
